<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
     <title>Sample Blog</title>
     
      <link href="css/bootstrap.min.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <script src="js/bootstrap.min.js"></script>
  </head>
  
  
  
<body>  

 <nav class="navbar navbar-default">
 </nav>
 
  <div class="container-fluid">
    <div class="row">
      <%= image_tag "http://atsnow.chillout.jp/test 2.jpg",class:"col-xs-12 col-lg-12" %>
    </div>
  </div>
 


<div class=”container”>
  <div class="row">
    <div class="row">
      <div class="col-xs-12 col-lg-4">

      </div>
    </div> 
 
       <div class="col-xs-12 col-lg-6">
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
       </div>  
     </div>   
 
  </div> 
</div> 

 <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <% @blogs.each do |blog|%>
                <div>
                <div class="active"><%= blog.title %></div>
                <div class="active"><%= blog.content %></div>
                <div class="active"><%= image_tag blog.picture.url if blog.picture? %></div>
                </div>
                <% end %>
                
<article class="post-list cf animated fadeIn post-36921 post type-post status-publish format-standard has-post-thumbnail category-knowledge tag-ux-design article cf" role="article">
<a href="https://goodpatch.com/blog/ai-design/" rel="bookmark" title="AIが導く、デザイナーの未来">


<figure class="eyecatch">

<!-- https://goodpatch.com/blog/wp-content/uploads/2019/07/aidesign2-486x290.jpg -->
<!-- <img src="https://goodpatch.com/blog/wp-content/uploads/2019/07/aidesign2-486x290.jpg" class="thumb"> -->
<div style="background-image: url(https://goodpatch.com/blog/wp-content/uploads/2019/07/aidesign2-486x290.jpg);"></div>

<span class="cat-name cat-id-190">ナレッジ・ノウハウ</span>
</figure>

<section class="entry-content cf">

<p class="byline entry-meta vcard">
<span class="date gf updated">2019.07.25</span>
<span class="writer name author"><span class="fn">KAZ</span></span>
</p>
<h1 class="h2 entry-title">AIが導く、デザイナーの未来</h1>


</section>
</a>
</article>

                <div class="col-xs-6">aaaaaaa</div>
                <div class="col-xs-6">aaaaaa</div>
                <div class="col-xs-6">aaaaaa</div>
            </div>
        </div>
        <div class="col-lg-4">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
    </div>
</div>

<html class=""><head>
    
    <link rel="stylesheet" media="all" href="https://d33wubrfki0l68.cloudfront.net/css/2abd9d12d57e817ac4d0aab3724f94544a28a20a/stylesheets/application-d9719c6b.css">
    <title>Coiney（コイニー） あなたのお店に、これひとつ。キャッシュレス、はじめよう。 | Coiney</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="" name="ROBOTS">
    <link href="/images/favicon-0538061c.png" rel="shortcut icon" type="image/png">
    <meta content="Coiney（コイニー）｜クレジットカードも、交通系電子マネーも、QR(Wechat Pay)決済も。あなたのお店にこれひとつ。決済手数料3.24%から、キャッシュレス決済がそろいます。Coiney（コイニー）でキャッシュレス、はじめよう。" name="description">
    <meta content="スマートフォン決済,スマホ決済,モバイル決済,クレジットカード決済,カード決済,電子マネー決済,QR決済,キャッシュレス,コイニー,Coiney,Coiny" name="keywords">
    <link href="https://coiney.com/" rel="canonical">
    <link content="Coiney" href="/images/apple-touch-icon-0e186e97.png" rel="apple-touch-icon">
    <!-- FACEBOOK OGP SETTINGS -->
    <meta content="Coiney（コイニー） あなたのお店に、これひとつ。キャッシュレス、はじめよう。 | Coiney" property="og:title">
    <meta content="product" property="og:type">
    <meta content="https://coiney.com/" property="og:url">
    <meta content="https://coiney.com/images/ogp/coiney_ogp_1903cm.jpg" property="og:image">
    <meta content="Coiney, Inc." property="og:site_name">
    <meta content="ja_JP" property="og:locale">
    <meta content="Coiney（コイニー）｜クレジットカードも、交通系電子マネーも、QR(Wechat Pay)決済も。あなたのお店にこれひとつ。決済手数料3.24%から、キャッシュレス決済がそろいます。Coiney（コイニー）でキャッシュレス、はじめよう。" property="og:description">
    <meta content="323785684366365" property="fb:app_id">
    <!-- TWITTER CARD SETTINGS -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@CoineyInc" name="twitter:site">
    <meta content="Coiney（コイニー） あなたのお店に、これひとつ。キャッシュレス、はじめよう。 | Coiney" name="twitter:title">
    <meta content="Coiney（コイニー）｜クレジットカードも、交通系電子マネーも、QR(Wechat Pay)決済も。あなたのお店にこれひとつ。決済手数料3.24%から、キャッシュレス決済がそろいます。Coiney（コイニー）でキャッシュレス、はじめよう。" name="twitter:description">
    <meta content="https://coiney.com/images/ogp/coiney_ogp_1903cm.jpg" name="twitter:image:src">
    <meta content="https://coiney.com/" name="twitter:url">
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://d.line-scdn.net/n/line_tag/public/release/v1/lt.js"></script><script async="" src="https://b92.yahoo.co.jp/search/?p=3VSKM9MJ6C&amp;label=&amp;ref=https%3A%2F%2Fcoiney.com%2F&amp;rref=http%3A%2F%2Fkatoshun.com%2Fblog%2Frwd-20131222.html&amp;pt=&amp;item=&amp;cat=&amp;price=&amp;quantity=&amp;r=1564929661.6682312&amp;pvid=vwnz8wwbkykjyx2pqvb&amp;req=1"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-5N4G7X9&amp;cid=1788107209.1564929660"></script><script async="" src="//cdn.smartnews-ads.com/i/pixel.js"></script><script async="" src="//public.voicepocket.net/voicepocket.js"></script><script src="https://connect.facebook.net/signals/plugins/inferredEvents.js?v=2.9.2" async=""></script><script src="https://connect.facebook.net/signals/config/1462385727325941?v=2.9.2&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="//static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script><script type="text/javascript" async="" src="https://bs.nakanohito.jp/b3/bi.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KXC43P"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KXC43P');</script>
    <!-- End Google Tag Manager -->
    <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("ec5f2dfd5176cdc0a742d18d80d25dde");</script><!-- end Mixpanel -->
    <!-- Hotjar Tracking Code -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:192320,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script><script async="" src="//static.hotjar.com/c/hotjar-192320.js?sv=5"></script>
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-5N4G7X9':true});</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-30083345-1', 'auto');
      ga('require', 'GTM-5N4G7X9');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/bundles/92991eeced432fc34142c8a618888e1140934646.css">
    
    
  <link rel="prefetch"><style></style><script async="" src="https://script.hotjar.com/modules.bb26536c99f8550f4ee3.js" charset="utf-8"></script><style type="text/css">iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}</style><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1005403186/?random=1564929660787&amp;cv=9&amp;fst=1564929660787&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=900&amp;u_w=1440&amp;u_ah=877&amp;u_aw=1440&amp;u_cd=24&amp;u_his=1&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg7o0&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fcoiney.com%2F&amp;ref=http%3A%2F%2Fkatoshun.com%2Fblog%2Frwd-20131222.html&amp;tiba=Coiney%EF%BC%88%E3%82%B3%E3%82%A4%E3%83%8B%E3%83%BC%EF%BC%89%20%E3%81%82%E3%81%AA%E3%81%9F%E3%81%AE%E3%81%8A%E5%BA%97%E3%81%AB%E3%80%81%E3%81%93%E3%82%8C%E3%81%B2%E3%81%A8%E3%81%A4%E3%80%82%E3%82%AD%E3%83%A3%E3%83%83%E3%82%B7%E3%83%A5%E3%83%AC%E3%82%B9&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><link rel="stylesheet" type="text/css" href="//public.voicepocket.net/voicepocket.css"><script async="" src="https://voicepocket.net/api/v1/sites?user_id=73&amp;domain=coiney.com&amp;get_params=&amp;callback=vpdata.callback"></script></head>
<body class="has-nav-has-banner index" style="position: static;">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXC43P"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="content">
    <div class="header-wrapper">
      <div class="navigation-md hidden-sm-down" id="gnav-bar">
        <div class="box-left clearfix">
          <div class="box-item brand-item">
            <a class="brand-link" href="/">
              <svg id="coiney_logo" viewBox="0 0 150 42" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M79.19 17.15c-1.9 0-3.73.77-5.13 2.18-1.39 1.39-2.13 3.16-2.13 5.11 0 1.97.71 3.74 2.05 5.13 1.42 1.5 3.14 2.23 5.26 2.23 2.06 0 3.84-.73 5.29-2.18 1.41-1.41 2.1-3.12 2.1-5.24 0-1.94-.83-3.83-2.28-5.21-1.43-1.34-3.16-2.02-5.16-2.02zm.07 10.98c-1.94 0-3.51-1.64-3.51-3.65 0-2.03 1.58-3.67 3.51-3.67 1.94 0 3.51 1.65 3.51 3.67.01 2.02-1.57 3.65-3.51 3.65zM125.45 17.15c-1.89 0-3.69.77-5.08 2.16-1.37 1.38-2.1 3.12-2.1 5.05 0 1.97.68 3.69 2.03 5.11 1.41 1.48 3.11 2.21 5.21 2.21 2.94 0 5.12-1.31 6.48-3.89.03-.06.03-.14-.01-.2s-.11-.1-.18.02h-3.91c-.05-.12-.1-.1-.13-.07-.61.5-1.28.73-2.12.73-1.8 0-2.95-.81-3.33-2.34l-.03-.15h10.36c.11.02.21-.07.09-.18v-.13c.11-5.06-2.79-8.32-7.28-8.32zm-3.24 6.06l.03-.13c.3-1.39 1.61-2.37 3.33-2.37 1.69 0 2.89.88 3.4 2.35l.05.14h-6.81zM149.96 17.81a.196.196 0 0 0-.17-.09h-3.75c-.09 0-.17.05-.2.14l-3 8.23-2.65-8.22a.204.204 0 0 0-.2-.14h-3.87c-.07 0-.13.03-.17.09-.04.06-.05.13-.02.19l4.98 12.74-1.96 5c-.03.06-.02.14.02.19.04.06.1.09.17.09h3.47c.09 0 .16-.05.19-.13l7.17-17.9c.04-.06.03-.13-.01-.19zM95.53 18.08h-3.61c-.11 0-.21.09-.21.21v12.77c0 .11.09.21.21.21h3.61c.11 0 .21-.09.21-.21V18.29c0-.11-.09-.21-.21-.21zM93.56 12.19c-1.25 0-2.26 1.01-2.26 2.26 0 1.25 1.01 2.26 2.26 2.26 1.25 0 2.26-1.01 2.26-2.26 0-1.25-1.02-2.26-2.26-2.26zM112.98 19.3c-5.58-5.08-12.11-1.17-12.11 4.24v7.62c0 .06.05.1.1.1h3.35c.11 0 .21-.09.21-.21V23.6c0-1.47 1.04-2.8 2.5-3.01 1.81-.26 3.36 1.16 3.36 2.94v7.52c0 .11.09.21.21.21h3.35a.1.1 0 0 0 .1-.1v-9.38c0-.93-.37-1.85-1.07-2.48zM67.48 24.68h-4.62c-.08 0-.15.05-.19.12-.89 1.83-2.64 2.97-4.56 2.97-2.84 0-5.14-2.47-5.14-5.5s2.31-5.5 5.14-5.5c1.92 0 3.72 1.19 4.59 3.03.03.07.11.12.19.12h4.61c.07 0 .13-.03.17-.08.04-.05.05-.12.04-.19-1.18-4.23-5.09-7.19-9.52-7.19-5.44 0-9.87 4.4-9.87 9.81s4.43 9.81 9.87 9.81c4.39 0 8.3-2.93 9.5-7.13.02-.06.01-.13-.03-.19a.269.269 0 0 0-.18-.08z"></path>
                </g>
                <g>
                  <path d="M29.53 18.04c.07-.35-.03-.71-.25-.99-.23-.27-.56-.43-.92-.43h-2.31c-.55 0-1.05.35-1.19.88-.53 1.98-2.29 3.36-4.28 3.36s-3.74-1.38-4.28-3.36c-.14-.53-.64-.88-1.19-.88H12.8c-.36 0-.69.16-.92.43-.23.27-.32.64-.25.99.83 4.34 4.6 7.49 8.94 7.49s8.12-3.15 8.96-7.49z"></path>
                  <path d="M40.91 17.72C39.42 8.42 31.53 1.16 22.14.45c-.04 0-.08.02-.1.05-.02.03-.02.07 0 .11.31.53.51 1.11.61 1.71.16 1.03.01 2.06-.46 2.99-.02.03-.01.07 0 .1.02.03.05.05.08.05 6.97.76 12.61 6.12 13.72 13.05.13.81.2 1.65.19 2.49.02 7.6-5.63 14.23-13.14 15.43-.66.11-1.23.46-1.62 1-.39.54-.55 1.2-.44 1.85.19 1.22 1.23 2.1 2.46 2.1.13 0 .26-.01.4-.03 4.86-.78 9.29-3.28 12.47-7.05A20.62 20.62 0 0 0 41.17 21c0-1.1-.09-2.2-.26-3.28zM18.52 39.68c-.16-1.03-.01-2.06.46-2.99.02-.03.01-.07 0-.1-.02-.03-.05-.05-.08-.05-6.97-.76-12.61-6.12-13.72-13.05-.13-.81-.2-1.65-.19-2.49-.02-7.6 5.62-14.23 13.13-15.43.66-.1 1.23-.46 1.62-1 .39-.54.55-1.2.44-1.85a2.476 2.476 0 0 0-2.46-2.1c-.13 0-.26.01-.4.03A20.59 20.59 0 0 0 4.86 7.7C1.72 11.43-.01 16.16 0 21c0 1.1.09 2.2.26 3.27 1.49 9.3 9.38 16.56 18.77 17.27h.02a.1.1 0 0 0 .1-.1c0-.03-.01-.06-.03-.08-.31-.51-.51-1.08-.6-1.68z"></path>
                </g>
              </svg>
              <span class="sr-only">Coiney お店のキャッシュレス これひとつ</span>
            </a>
          </div>
          <div class="box-item">
            <div class="dropdown" id="gnav-dropdown">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-link box-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button"><span>決済</span><span>サービス</span></button>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-xs-8 nav-col">
                    <div class="nav-group-header">
                      <h6 class="m-b-0">店舗・対面で</h6>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 nav-col">
                        <a href="/terminal">
                          <p><img src="https://d33wubrfki0l68.cloudfront.net/images/shared/d9e2245b59c77c412e91bef0459c3d84d04a6927/service_img_terminal_1903-d9e2245b.png" class="img-fluid" alt="Service img terminal 1903"></p>
                          <div class="m-b-1">
                            <small>店舗・対面決済をかんたんに導入</small>
                          </div>
                          <div class="brand-logo nowrap">
                            <img src="https://d33wubrfki0l68.cloudfront.net/0035ff3c505ad77494ae3cd7fc447ae98e2fd78a/a7894/images/shared/brand_logo_visa-0035ff3c.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/5821a888040abbc2ac92b90fe6c906dd2905dd89/ba9f8/images/shared/brand_logo_master-5821a888.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/7999934b81a311ccfd1b32931e04671e15f4d1c2/f0dac/images/shared/brand_logo_saison-7999934b.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/58e4487338dd264e92e58ad5522c1ecf88f07ab6/73ec0/images/shared/brand_logo_jcb-58e44873.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/21afc0ab6e8a4d29cfc3b4287f9b849e0d2ad6e9/b0dd0/images/shared/brand_logo_amex-21afc0ab.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/0ae92b0f82c60e6f01b1f65e952b5ece8c1687b2/50c2c/images/shared/brand_logo_diners-0ae92b0f.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/674965f3f8090c24dedfc95d24ad705055e3f04b/f872b/images/shared/brand_logo_discover-674965f3.svg">
                            <img src="https://d33wubrfki0l68.cloudfront.net/5957a96429dea3d3547f6ca5a2e19f7f4407a1fc/9dc50/images/shared/brand_logo_em_full-5957a964.svg" class="img-fluid" style="margin-top:8px" alt="Brand logo em full">
                          </div>
                          <hr>
                          <img src="https://d33wubrfki0l68.cloudfront.net/14fcda1e1295429e493875767c6167cc44f05dcb/37045/images/shared/logo_icon_terminal_fill-14fcda1e.svg" style="height: 32px" alt="Coineyターミナル">
                        </a>
                      </div>
                      <div class="col-xs-6 nav-col">
                        <a href="/wechatpay">
                          <p><img src="https://d33wubrfki0l68.cloudfront.net/images/shared/818d7f339820717e66b7bc31d193cefe4395f765/service_img_scan_1903-818d7f33.png" class="img-fluid" alt="Service img scan 1903"></p>
                          <div class="m-b-1">
                            <small>訪日中国人観光客のニーズに対応</small>
                          </div>
                          <div class="brand-logo nowrap">
                            <img class="m-y-1" src="https://d33wubrfki0l68.cloudfront.net/5d812a958468aaedeb4bf84efbf6759aec64a91c/b5af6/images/shared/brand_logo_wechatpay_x-5d812a95.svg">
                          </div>
                          <hr class="m-t-1">
                          <img src="https://d33wubrfki0l68.cloudfront.net/255b93a2862ca79ca310fb92b5518f45911e65a1/c28c6/images/shared/logo_icon_scan_fill-255b93a2.svg" style="height: 32px" alt="Coineyペイジ">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4 nav-col">
                    <div class="nav-group-header">
                      <h6 class="m-b-0">オンラインで</h6>
                    </div>
                    <a href="/payge">
                      <p><img src="https://d33wubrfki0l68.cloudfront.net/images/shared/ce811dfded815052e26266a951b503db5855f668/service_img_payge_1903-ce811dfd.png" class="img-fluid" alt="Service img payge 1903"></p>
                      <div class="m-b-1">
                        <small>決済ページをかんたんにつくれる</small>
                      </div>
                      <div class="brand-logo nowrap">
                        <img class="m-y-1" src="https://d33wubrfki0l68.cloudfront.net/0035ff3c505ad77494ae3cd7fc447ae98e2fd78a/a7894/images/shared/brand_logo_visa-0035ff3c.svg">
                        <img class="m-y-1" src="https://d33wubrfki0l68.cloudfront.net/5821a888040abbc2ac92b90fe6c906dd2905dd89/ba9f8/images/shared/brand_logo_master-5821a888.svg">
                      </div>
                      <hr class="m-t-1">
                      <img src="https://d33wubrfki0l68.cloudfront.net/63f6200d7a962d4db57f1403ba04040436b44c69/cf40e/images/shared/logo_icon_payge_fill-63f6200d.svg" style="height: 32px" alt="Coineyペイジ">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-item">
            <a class="btn btn-link box-link" href="/pricing/"><span>料金</span></a>
          </div>
          <div class="box-item">
            <a class="btn btn-link box-link" href="/voice/"><span>事例</span></a>
          </div>
          <div class="box-item">
            <a class="btn btn-link box-link multiline" href="/started/"><span>必要なもの</span><span class="multiline-dot">・</span><br class="multiline-break"><span>導入の流れ</span></a>
          </div>
          <div class="box-item help-item">
            <a class="btn btn-link box-link" href="/corp/about/" target="_blank"><span>会社情報</span><i class="fa fa-external-link hidden-lg-down"></i>
            </a>
          </div>
        </div>
        <div class="box-right clearfix">
          <div class="box-item help-item">
            <a class="btn btn-link box-link" href="https://support.coiney.com" target="_blank">
              <i class="fa fa-question-circle"></i><span>ガイド・ヘルプ</span><i class="fa fa-external-link hidden-lg-down"></i>
            </a>
          </div>
          <div class="box-item btn-group clearfix">
            <div class="btn-item">
              <a href="https://app.coiney.com/#/signup" class="btn btn-primary ga-track-link mixpanel-track-link" ga-label="global-navi-desktop apply" mixpanel-label="GlobalNavigation Applyclicked">お申し込み</a>
            </div>
            <div class="btn-item">
              <a href="https://app.coiney.com/#/merchants" class="gnav-login btn btn-secondary-outline mixpanel-track-link" mixpanel-label="GlobalNavigation LoginClicked">ログイン</a>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation-sm hidden-md-up">
        <header id="nav-mobile-header-cta">
          <div class="nav-mobile__brand">
            <a class="brand__link" href="/">
              <svg id="coiney_logo" viewBox="0 0 150 42" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path d="M79.19 17.15c-1.9 0-3.73.77-5.13 2.18-1.39 1.39-2.13 3.16-2.13 5.11 0 1.97.71 3.74 2.05 5.13 1.42 1.5 3.14 2.23 5.26 2.23 2.06 0 3.84-.73 5.29-2.18 1.41-1.41 2.1-3.12 2.1-5.24 0-1.94-.83-3.83-2.28-5.21-1.43-1.34-3.16-2.02-5.16-2.02zm.07 10.98c-1.94 0-3.51-1.64-3.51-3.65 0-2.03 1.58-3.67 3.51-3.67 1.94 0 3.51 1.65 3.51 3.67.01 2.02-1.57 3.65-3.51 3.65zM125.45 17.15c-1.89 0-3.69.77-5.08 2.16-1.37 1.38-2.1 3.12-2.1 5.05 0 1.97.68 3.69 2.03 5.11 1.41 1.48 3.11 2.21 5.21 2.21 2.94 0 5.12-1.31 6.48-3.89.03-.06.03-.14-.01-.2s-.11-.1-.18.02h-3.91c-.05-.12-.1-.1-.13-.07-.61.5-1.28.73-2.12.73-1.8 0-2.95-.81-3.33-2.34l-.03-.15h10.36c.11.02.21-.07.09-.18v-.13c.11-5.06-2.79-8.32-7.28-8.32zm-3.24 6.06l.03-.13c.3-1.39 1.61-2.37 3.33-2.37 1.69 0 2.89.88 3.4 2.35l.05.14h-6.81zM149.96 17.81a.196.196 0 0 0-.17-.09h-3.75c-.09 0-.17.05-.2.14l-3 8.23-2.65-8.22a.204.204 0 0 0-.2-.14h-3.87c-.07 0-.13.03-.17.09-.04.06-.05.13-.02.19l4.98 12.74-1.96 5c-.03.06-.02.14.02.19.04.06.1.09.17.09h3.47c.09 0 .16-.05.19-.13l7.17-17.9c.04-.06.03-.13-.01-.19zM95.53 18.08h-3.61c-.11 0-.21.09-.21.21v12.77c0 .11.09.21.21.21h3.61c.11 0 .21-.09.21-.21V18.29c0-.11-.09-.21-.21-.21zM93.56 12.19c-1.25 0-2.26 1.01-2.26 2.26 0 1.25 1.01 2.26 2.26 2.26 1.25 0 2.26-1.01 2.26-2.26 0-1.25-1.02-2.26-2.26-2.26zM112.98 19.3c-5.58-5.08-12.11-1.17-12.11 4.24v7.62c0 .06.05.1.1.1h3.35c.11 0 .21-.09.21-.21V23.6c0-1.47 1.04-2.8 2.5-3.01 1.81-.26 3.36 1.16 3.36 2.94v7.52c0 .11.09.21.21.21h3.35a.1.1 0 0 0 .1-.1v-9.38c0-.93-.37-1.85-1.07-2.48zM67.48 24.68h-4.62c-.08 0-.15.05-.19.12-.89 1.83-2.64 2.97-4.56 2.97-2.84 0-5.14-2.47-5.14-5.5s2.31-5.5 5.14-5.5c1.92 0 3.72 1.19 4.59 3.03.03.07.11.12.19.12h4.61c.07 0 .13-.03.17-.08.04-.05.05-.12.04-.19-1.18-4.23-5.09-7.19-9.52-7.19-5.44 0-9.87 4.4-9.87 9.81s4.43 9.81 9.87 9.81c4.39 0 8.3-2.93 9.5-7.13.02-.06.01-.13-.03-.19a.269.269 0 0 0-.18-.08z"></path>
                </g>
                <g>
                  <path d="M29.53 18.04c.07-.35-.03-.71-.25-.99-.23-.27-.56-.43-.92-.43h-2.31c-.55 0-1.05.35-1.19.88-.53 1.98-2.29 3.36-4.28 3.36s-3.74-1.38-4.28-3.36c-.14-.53-.64-.88-1.19-.88H12.8c-.36 0-.69.16-.92.43-.23.27-.32.64-.25.99.83 4.34 4.6 7.49 8.94 7.49s8.12-3.15 8.96-7.49z"></path>
                  <path d="M40.91 17.72C39.42 8.42 31.53 1.16 22.14.45c-.04 0-.08.02-.1.05-.02.03-.02.07 0 .11.31.53.51 1.11.61 1.71.16 1.03.01 2.06-.46 2.99-.02.03-.01.07 0 .1.02.03.05.05.08.05 6.97.76 12.61 6.12 13.72 13.05.13.81.2 1.65.19 2.49.02 7.6-5.63 14.23-13.14 15.43-.66.11-1.23.46-1.62 1-.39.54-.55 1.2-.44 1.85.19 1.22 1.23 2.1 2.46 2.1.13 0 .26-.01.4-.03 4.86-.78 9.29-3.28 12.47-7.05A20.62 20.62 0 0 0 41.17 21c0-1.1-.09-2.2-.26-3.28zM18.52 39.68c-.16-1.03-.01-2.06.46-2.99.02-.03.01-.07 0-.1-.02-.03-.05-.05-.08-.05-6.97-.76-12.61-6.12-13.72-13.05-.13-.81-.2-1.65-.19-2.49-.02-7.6 5.62-14.23 13.13-15.43.66-.1 1.23-.46 1.62-1 .39-.54.55-1.2.44-1.85a2.476 2.476 0 0 0-2.46-2.1c-.13 0-.26.01-.4.03A20.59 20.59 0 0 0 4.86 7.7C1.72 11.43-.01 16.16 0 21c0 1.1.09 2.2.26 3.27 1.49 9.3 9.38 16.56 18.77 17.27h.02a.1.1 0 0 0 .1-.1c0-.03-.01-.06-.03-.08-.31-.51-.51-1.08-.6-1.68z"></path>
                </g>
              </svg>
              <span class="sr-only">Coiney お店のキャッシュレス これひとつ</span>
            </a>
          </div>
          <div class="nav-mobile__action">
            <a class="action__apply btn btn-primary mixpanel-track-link" href="https://app.coiney.com/" mixpanel-label="GlobalNaviMobile Clicked Apply">
              お申し込み
            </a>
            <button id="btn-nav-cta-toggle">
              <i class="fa fa-bars toggle__icon"></i>
              <span class="toggle__text">メニュー</span>
            </button>
          </div>
        </header>
        <nav id="nav-mobile-cta">
          <div id="nav-close">
            <div id="btn-nav-cta-close">
              <i class="fa fa-times"></i>
              <span>閉じる</span>
            </div>
          </div>
          <hr class="m-a-0">
          <div id="nav-functions">
            <div class="container p-y-1">
              <div class="row">
                <div class="col-xs-6">
                  <a href="https://app.coiney.com/#/signup" class="ga-track-link btn btn-primary btn-block" ga-label="global-navi-mobile apply">お申し込み</a>
                </div>
                <div class="col-xs-6">
                  <a href="https://app.coiney.com/#/merchants" class=" btn btn-secondary-outline btn-block">ログイン</a>
                </div>
              </div>
            </div>
            <hr class="m-a-0">
            <div class="container p-y-1">
              <ul id="nav-primary">
                <li><a href="/">トップ</a></li>
                <li>
                  <a href="/terminal/">
                    Coineyターミナル
                    <div class="brand-logo nowrap">
                      <img src="https://d33wubrfki0l68.cloudfront.net/674965f3f8090c24dedfc95d24ad705055e3f04b/f872b/images/shared/brand_logo_discover-674965f3.svg" style="height: 20px">
                      <img class="img-fluid m-t-1" src="https://d33wubrfki0l68.cloudfront.net/5957a96429dea3d3547f6ca5a2e19f7f4407a1fc/9dc50/images/shared/brand_logo_em_full-5957a964.svg">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/wechatpay/">
                    Coineyスキャン
                    <div class="brand-logo nowrap">
                      <img src="https://d33wubrfki0l68.cloudfront.net/5d812a958468aaedeb4bf84efbf6759aec64a91c/b5af6/images/shared/brand_logo_wechatpay_x-5d812a95.svg" style="height: 20px">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/payge/">
                    Coineyペイジ
                    <div class="brand-logo nowrap">
                      <img src="https://d33wubrfki0l68.cloudfront.net/0035ff3c505ad77494ae3cd7fc447ae98e2fd78a/a7894/images/shared/brand_logo_visa-0035ff3c.svg" style="height: 20px">
                      <img src="https://d33wubrfki0l68.cloudfront.net/5821a888040abbc2ac92b90fe6c906dd2905dd89/ba9f8/images/shared/brand_logo_master-5821a888.svg" style="height: 20px">
                    </div>
                  </a>
                </li>
                <li><a href="/pricing/">料金</a></li>
                <li><a href="/voice/">事例</a></li>
                <li><a href="/started/">必要なもの・導入の流れ</a></li>
                <li><a href="/corp/about/" class="transition-ease ex-item-m" target="_blank">会社情報 <i class="fa fa-external-link"></i></a></li>
              </ul>
            </div>
            <div class="container p-y-1">
              <ul id="nav-secondary">
                <li><a href="/contact/" class="transition-ease">お問い合わせ</a></li>
                <li><a href="https://support.coiney.com/" class="transition-ease ex-item-m" target="_blank">ガイド・ヘルプ <i class="fa fa-external-link"></i></a></li>
                <li><a href="/jobs/" class="transition-ease ex-item-m" target="_blank">採用情報<i class="fa fa-external-link"></i></a></li>
                <li><a href="https://news.coiney.com/" class="transition-ease ex-item-m" target="_blank">ニュース <i class="fa fa-external-link"></i></a></li>
                <li><a href="/coineykit/" class="transition-ease">開発者向けSDK</a></li>
                <li><a href="/resources/">カードロゴ・加盟店ツール</a></li>
                <li><a href="/partner/" class="transition-ease ex-item-m" target="_blank">パートナー紹介 <i class="fa fa-external-link"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="container p-y-1">
            <span>
              <a href="https://itunes.apple.com/jp/app/coiney/id583812107?mt=8" target="_blank"><img src="https://d33wubrfki0l68.cloudfront.net/524b1d9f4471a13c32431f8f9f5e33c8e744bbe1/bd796/images/app_link_ios-524b1d9f.png" alt="" class="m-r-1" style="max-width: 120px">
              </a>
            </span>
            <span>
              <a href="https://play.google.com/store/apps/details?id=com.coiney.android&amp;hl=ja" target="_blank"><img src="https://d33wubrfki0l68.cloudfront.net/27f8f761148b55c6c7fef3cc32a1a2a0d0581ed5/e1462/images/app_link_android-27f8f761.png" alt="" class="" style="max-width: 120px">
              </a>
            </span>
          </div>
          <hr class="m-a-0">
          <div class="container p-y-1">
            <ul id="nav-quartery">
              <li><a href="/about/" class="transition-ease ex-item-m" target="_blank">会社概要 <i class="fa fa-external-link"></i></a></li>
              <li><a href="/legal/privacy" class="transition-ease">プライバシーポリシー</a></li>
              <li><a href="/legal/terms" class="transition-ease">利用規約</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <a href="/cashless/" id="cl-news">
        <div class="mixpanel-track-link" href="" mixpanel-label="CashlessBanner-Slim-Clicked">
          <div class="cl-container">
            <div class="auto cl-content">
              <span class="label label-cl hidden-sm-down">登録受付中！</span>
              <span class="hidden-md-up">「キャッシュレス・消費者還元事業」　詳細はこちら</span>
              <span class="hidden-sm-down">「キャッシュレス・消費者還元事業」に参加しよう！　くわしくはこちら</span>
            </div>
            <div class="cl-action">
              <i class="fa fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <section class="hero-section">
      <section id="top-cover">
        <div class="f-container bg-cl">
          <div class="item-box item-size-left pl-cover" data-select-like-a-boss="1">
            <p>
              <img src="https://d33wubrfki0l68.cloudfront.net/6dd8ff82f505765ba867282f78eb57a029b59b0a/c4d7e/images/cashless/cashless_top_copy-6dd8ff82.svg" class="img-fluid m-logo-cl" alt="キャッシュレスコピー">
            </p>
            <p>
              <a class="btn rf-150-100-050-030-s btn-primary-cover-cl hidden-xs-down mixpanel-track-link" href="cashless" mixpanel-label="IndexTopDesktop Cover Clicked Apply Cashless">
                還元事業について詳しくみる
                <i class="fa fa-chevron-right"></i>
              </a>
              <a class="btn rf-150-100-050-030-s btn-primary-cover-cl hidden-sm-up mixpanel-track-link" href="cashless" mixpanel-label="IndexTopMobile Cover Clicked Apply Cashless">
                詳しくみる
                <i class="fa fa-chevron-right"></i>
              </a>
            </p>
          </div>
          <div class="item-box item-size-right">
            <img src="https://d33wubrfki0l68.cloudfront.net/f03b9eb2a38745004f4940a4ca246d41cef60386/2679d/images/cashless/cashless_top_r-f03b9eb2.png" class="po-item-pic-cl" alt="ターミナル">
          </div>
        </div>
        <div class="container-fluid hidden-xs-down md-thumb thumb-layout-event">
          <a href="/terminal">
            <div class="col-sm-4">
              <div class="card card-radius thumb thumb-0">
                <div class="overlay-colors">
                  <div class="overlay-txt">
                    詳しくみる
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
                <div class="title-group-top">
                  <div class="bg-cover bg-terminal"></div>
                  <div class="p-a-title" data-mh="mh-copy" style="height: 98px;">
                    <div class="m-b-title">
                      <img alt="Coineyターミナル" class="service-name-terminal" src="https://d33wubrfki0l68.cloudfront.net/0e6494cf0a751ea4979b45e1d417c1bf65881472/e2267/images/index/top_sn_terminal-0e6494cf.svg">
                    </div>
                    <div class="service-copy">
                      お店にクレジット決済をかんたんに導入できる
                    </div>
                  </div>
                </div>
                <hr class="m-a-0">
                  <div class="price-row">
                    <div class="price-row-inner">
                      <div class="col-sm-12 m-y-1 hidden-md-down">
                        <img src="https://d33wubrfki0l68.cloudfront.net/96949ab0d77cb99a73b8d09c9fde3a1af23e2ced/af472/images/index/ic-top-thumb-terminal-x-96949ab0.svg" class="img-fuild" alt="Ic top thumb terminal x">
                      </div>
                      <div class="col-sm-12 m-y-1 hidden-lg-up">
                        <img src="https://d33wubrfki0l68.cloudfront.net/ed9144a12281807484eef3b0f2cc9855725e8238/42680/images/index/ic-top-thumb-terminal-y-ed9144a1.svg" class="img-fuild" alt="Ic top thumb terminal y">
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
          </a>
          <a href="/wechatpay">
            <div class="col-sm-4">
              <div class="card card-radius thumb thumb-1">
                <div class="overlay-colors">
                  <div class="overlay-txt">
                    詳しくみる
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
                <div class="title-group-top">
                  <div class="bg-cover bg-scan"></div>
                  <div class="p-a-title" data-mh="mh-copy" style="height: 98px;">
                    <div class="m-b-title">
                      <img alt="Coineyスキャン" class="service-name-scan" src="https://d33wubrfki0l68.cloudfront.net/3d125555e3ff2095dec86aab0cadb76f4b2ae4f1/a9c1b/images/index/top_sn_scan-3d125555.svg">
                    </div>
                    <div class="service-copy">
                      訪日中国人観光客のニーズに対応できる
                    </div>
                  </div>
                </div>
                <hr class="m-a-0">
                  <div class="price-row">
                    <div class="price-row-inner">
                      <div class="col-sm-12 m-y-1 hidden-md-down">
                        <img src="https://d33wubrfki0l68.cloudfront.net/b7932b7eff2742db7599d41c5f053266e419b275/3cd67/images/index/ic-top-thumb-scan-x-b7932b7e.svg" class="img-fuild" alt="Ic top thumb scan x">
                      </div>
                      <div class="col-sm-12 m-y-1 hidden-lg-up">
                        <img src="https://d33wubrfki0l68.cloudfront.net/fbf4e455495894713eeee48a61a31c1bf1a9160e/e044e/images/index/ic-top-thumb-scan-y-fbf4e455.svg" class="img-fuild" alt="Ic top thumb scan y">
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
          </a>
          <a href="/payge">
            <div class="col-sm-4">
              <div class="card card-radius thumb thumb-2">
                <div class="overlay-colors">
                  <div class="overlay-txt">
                    詳しくみる
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
                <div class="title-group-top">
                  <div class="bg-cover bg-payge"></div>
                  <div class="p-a-title" data-mh="mh-copy" style="height: 98px;">
                    <div class="m-b-title">
                      <img alt="Coineyペイジ" class="service-name-payge" src="https://d33wubrfki0l68.cloudfront.net/f671fef008e1cc50f1c7afdd0fc3e0d42e71b13d/03cce/images/index/top_sn_payge-f671fef0.svg">
                    </div>
                    <div class="service-copy">
                      オンライン決済ページをかんたんにつくれる
                    </div>
                  </div>
                </div>
                <hr class="m-a-0">
                  <div class="price-row">
                    <div class="price-row-inner">
                      <div class="col-sm-12 m-y-1 hidden-md-down">
                        <img src="https://d33wubrfki0l68.cloudfront.net/e79bbaf6048fe516966a831251dcf75d7dbcefe2/4ee75/images/index/ic-top-thumb-payge-x-e79bbaf6.svg" class="img-fuild" alt="Ic top thumb payge x">
                      </div>
                      <div class="col-sm-12 m-y-1 hidden-lg-up">
                        <img src="https://d33wubrfki0l68.cloudfront.net/cbca0cb65a57d93c4885e4ca6157bbfc16165904/95b76/images/index/ic-top-thumb-payge-y-cbca0cb6.svg" class="img-fuild" alt="Ic top thumb payge y">
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
          </a>
        </div>
      </section>
    </section>
    <section>
      <div class="container">
        <div class="row hidden-sm-up">
          <div class="col-md-6 col-md-offset-3 text-xs-center">
            <div class="top__catchcopy m-x-2">
              <img alt="あなたのお店に、これひとつ。" class="img-fluid m-mobile-copy" src="https://d33wubrfki0l68.cloudfront.net/3ab3f080dee4bd000d3763bb94f8fb5664c25ba3/d78a4/images/index/cm/key_copy_1903_center-3ab3f080.svg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row hidden-sm-up m-y-2">
          <div class="col-md-6 col-md-offset-3 text-xs-center m-x-2">
            <div class="top__action">
              <div class="top__action__apply">
                <a class="btn hidden-md-up btn-primary btn-block mixpanel-track-link" href="https://app.coiney.com/" mixpanel-label="IndexTopMobile Clicked Apply">
                  今すぐお申し込み
                </a>
              </div>
              <div class="top__action__download" id="CTA-btn-advanced">
                <a class="btn hidden-md-up btn-primary btn-block btn-primary-outline mixpanel-track-link" href="/resources/docs/" mixpanel-label="IndexTopMobile Clicked DocumentDwonload">
                  まずは資料ダウンロード
                </a>
              </div>
              <div class="top__action__contact" id="CTA-btn-advanced">
                <a class="btn hidden-md-up btn-primary btn-block btn-primary-outline mixpanel-track-link" href="tel:0120-343-577" mixpanel-label="IndexTopMobile Clicked Contact Phone">
                  電話で導入相談
                </a>
                <p class="text-muted text-help">
                  0120-343-577
                  <span>［電話受付時間］平日10:00～18:00</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="service-section">
      <div class="hidden-sm-up overflow-h"><div class="container-fluid"><div class="row"><div class="col-xs-10 col-xs-offset-1"><div class="swiper-container top-swiper-sp overflow-v swiper-container-horizontal"><div class="swiper-wrapper sw-sp" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"><div class="swiper-slide text-xs-center centered-block card-border-radius swiper-slide-active" style="width: 380px; margin-right: 10px;"><img alt="[" coineyターミナル"]"="" class="img-fluid" src="/images/shared/service_img_terminal_1903-d9e2245b.png"><img alt="[" coineyターミナル"]"="" class="s-ic" src="/images/shared/service_icon_terminal-942ffcf2.png"><p>Coineyターミナル</p><small class="line-height-small">お店にクレジット決済を<br>かんたんに導入できる</small><hr><div class="nowrap"><img alt="brand logos" class="brand-logo-sp" src="https://d33wubrfki0l68.cloudfront.net/5c83727917481b22bf67e80e66b1dfbf2af8897e/80bcf/images/index/ic-top-sp-terminal-5c837279.svg"></div><a class="btn btn-primary m-y-2" href="/terminal">もっと詳しくみる <i class="fa fa-chevron-right"></i></a></div><div class="swiper-slide text-xs-center centered-block card-border-radius swiper-slide-next" style="width: 380px; margin-right: 10px;"><img alt="[" coineyスキャン"]"="" class="img-fluid" src="/images/shared/service_img_scan_1903-818d7f33.png"><img alt="[" coineyスキャン"]"="" class="s-ic" src="/images/shared/service_icon_scan-9221ffe2.png"><p>Coineyスキャン</p><small class="line-height-small">訪日中国人観光客の<br>ニーズに対応できる</small><hr><div class="nowrap"><img alt="brand logos" class="brand-logo-sp" src="https://d33wubrfki0l68.cloudfront.net/9f50478d113e2bef4057b6059060c3d10a28a13b/29018/images/index/ic-top-sp-scan-9f50478d.svg"></div><a class="btn btn-primary m-y-2" href="/wechatpay">もっと詳しくみる <i class="fa fa-chevron-right"></i></a></div><div class="swiper-slide text-xs-center centered-block card-border-radius" style="width: 380px; margin-right: 10px;"><img alt="[" coineyペイジ"]"="" class="img-fluid" src="/images/shared/service_img_payge_1903-ce811dfd.png"><img alt="[" coineyペイジ"]"="" class="s-ic" src="/images/shared/service_icon_payge-e695882f.png"><p>Coineyペイジ</p><small class="line-height-small">オンライン決済ページを<br>かんたんにつくれる</small><hr><div class="nowrap"><img alt="brand logos" class="brand-logo-sp" src="https://d33wubrfki0l68.cloudfront.net/acae7c81d854eddec58a67b26cb3cce1b35393d4/0526e/images/index/ic-top-sp-payge-acae7c81.svg"></div><a class="btn btn-primary m-y-2" href="/payge">もっと詳しくみる <i class="fa fa-chevron-right"></i></a></div></div><div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div></div></div></div></div></div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <a class="cashless-rate__wrap mixpanel-track-link" href="/cashless/" mixpanel-label="CashlessRateBanner-Clicked">
            <div class="cashless-rate">
              <div class="cashless-rate__title">
                <h4>キャッシュレス・消費者還元事業の<br class="break">加盟店登録が完了すると、</h4>
                <h2>
                  <span class="underline">決済手数料</span>が<br class="break">おトクになります！
                </h2>
              </div>
              <div class="cashless-rate__content">
                <div class="card-wrap">
                  <div class="card--credit">
                    <img alt="Visa, Master, America Express, JCB, Diners Club" class="card--credit--1l" src="https://d33wubrfki0l68.cloudfront.net/5e27b2376ac2b54d2807755984b600d209a83541/2c882/images/cashless/cashless_216_credit_1l-5e27b237.svg">
                    <img alt="Visa, Master, America Express, JCB, Diners Club" class="card--credit--2l" src="https://d33wubrfki0l68.cloudfront.net/198f701ee969a8be5d0af72f9ceff5775641d509/72fac/images/cashless/cashless_216_credit_2l-198f701e.svg">
                  </div>
                  <div class="devider"></div>
                  <div class="card--eic">
                    <img alt="Kitaca, Suica, PASMO, tolca, manaca, ICOCA, SUGOCA, nimoca, はやかけん" src="https://d33wubrfki0l68.cloudfront.net/69fac66db0ee013dbfdcbab1f38ff7c43cc5384f/94acb/images/cashless/cashless_216_eic-69fac66d.svg">
                  </div>
                </div>
                <div class="rate-wrap">
                  <div class="arrow">
                    <img src="https://d33wubrfki0l68.cloudfront.net/1f1a4890d53761a08456411a38329e914ff5c3ad/9121e/images/cashless/caret_right-1f1a4890.svg">
                  </div>
                  <div class="rate">
                    <img alt="決済手数料実質2.16%" src="https://d33wubrfki0l68.cloudfront.net/193e1220d34d4c9afd8a435964e9ff241f3e89be/02000/images/cashless/rate-193e1220.svg">
                  </div>
                </div>
              </div>
              <div class="cashless-rate__annotation">
                <p>
                  ・ 実施期間中、通常3.24%または3.74%の決済手数料が事業の補助により実質2.16%になります。
                  ・ 実施期間：2019年10月1日〜2020年6月30日(予定)。
                  ・ Discover、WeChat Payは手数料補助の対象外になります。
                  ・ 大手フランチャイズチェーンなどの場合は対象外になります。
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section class="cy-section">
      <div class="container">
        <a href="/campaign/tadanori/" id="terminal-tadanori-banner">
          <div class="mixpanel-track-link" href="" mixpanel-label="TadanoriCampaignBanner-Mobile-Clicked">
            <div class="banner-md hidden-sm-up bg-tadanori-v">
              <div class="row">
                <div class="col-xs-6 text-xs-center p-r-0">
                  <img src="https://d33wubrfki0l68.cloudfront.net/270752915d3fab072ee9767afebf7c39ecd8ff02/8621f/images/campaign/tadanori/tadanori_copy_v-27075291.svg" class="img-fluid m-b-05" style="width: 100%" alt="Tadanori copy v">
                  <img src="https://d33wubrfki0l68.cloudfront.net/bb6873d3deca2cf72671a3e069f58e3a4e793250/4c0ca/images/campaign/tadanori/tadanori_txt_19800-bb6873d3.svg" class="img-fluid m-b-1 m-l-1" style="width: 70%" alt="Tadanori txt 19800">
                  <img src="https://d33wubrfki0l68.cloudfront.net/eed22abfca97cdb9eaead1d14033e1cf3e64bdc6/95d10/images/campaign/tadanori/tadanori_txt_0-eed22abf.svg" class="img-fluid m-l-1" style="width: 80%" alt="Tadanori txt 0">
                </div>
                <div class="col-xs-6">
                  <img src="https://d33wubrfki0l68.cloudfront.net/377a8360ff5de8b53e305b5ab53fd7ea73f06409/e591d/images/campaign/tadanori/ph_terminal_plus_plain_s-377a8360.png" class="img-fluid terminal-v" alt="Ph terminal plus plain s">
                </div>
              </div>
              <hr>
              <div class="row align-center text-xs-center">
                <div class="col-12 h-3">
                  <div class="btn btn-primary btn-lg btn-primary-inverted">
                    くわしく見る
                    <i class="fa fa-chevron-right"></i>
                  </div>
                  <img src="https://d33wubrfki0l68.cloudfront.net/3271f4f19a722fd55e75fe8185e72de5e8f9c1df/28d4d/images/campaign/tadanori/tadanori_surfer-3271f4f1.png" class="img-fluid layout-tadanori-v" alt="Tadanori surfer">
                </div>
              </div>
            </div>
          </div>
          <div class="mixpanel-track-link" href="" mixpanel-label="TadanoriCampaignBanner-Desktop-Clicked">
            <div class="hidden-xs-down bg-tadanori-h">
              <div class="row align-center bg-tadanori-h-right">
                <div class="col-xs-5 m-copy">
                  <img src="https://d33wubrfki0l68.cloudfront.net/a73f80e737ecfab010b5b824a0104c20b44fb07d/56121/images/campaign/tadanori/tadanori_copy_h-a73f80e7.svg" class="img-fluid" style="width: 100%" alt="Tadanori copy h">
                  <img src="https://d33wubrfki0l68.cloudfront.net/3271f4f19a722fd55e75fe8185e72de5e8f9c1df/28d4d/images/campaign/tadanori/tadanori_surfer-3271f4f1.png" class="img-fluid layout-tadanori" alt="Tadanori surfer">
                </div>
                <div class="col-xs-2 p-price-h">
                  <img src="https://d33wubrfki0l68.cloudfront.net/bb6873d3deca2cf72671a3e069f58e3a4e793250/4c0ca/images/campaign/tadanori/tadanori_txt_19800-bb6873d3.svg" class="img-fluid m-b-1" style="width: 100%" alt="Tadanori txt 19800">
                  <img src="https://d33wubrfki0l68.cloudfront.net/eed22abfca97cdb9eaead1d14033e1cf3e64bdc6/95d10/images/campaign/tadanori/tadanori_txt_0-eed22abf.svg" class="img-fluid" style="width: 100%" alt="Tadanori txt 0">
                </div>
                <div class="col-xs-2 p-0">
                  <img src="https://d33wubrfki0l68.cloudfront.net/377a8360ff5de8b53e305b5ab53fd7ea73f06409/e591d/images/campaign/tadanori/ph_terminal_plus_plain_s-377a8360.png" class="img-fluid terminal-h" alt="Ph terminal plus plain s">
                </div>
                <div class="col-xs-3 text-xs-center m-r-1-lg hidden-sm-down">
                  <div class="btn btn-primary btn-lg btn-primary-inverted hidden-md-down">
                    くわしく見る
                    <i class="fa fa-chevron-right"></i>
                  </div>
                  <div class="btn btn-primary btn-primary-inverted hidden-lg-up">
                    くわしく見る
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
                <div class="col-xs-2 text-xs-center hidden-md-up">
                  <div class="btn btn-primary btn-primary-inverted m-t-20">
                    詳細
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="cy-section download-section">
      <div class="container">
        <div class="cy-row-header text-xs-center">
          <h2 class="cy-row-header-title">
            導入についてのギモン、<br>おこたえします。
          </h2>
          <p class="cy-row-header-body m-b-0">
            お気軽にご連絡ください。Coineyチームがあなたのビジネスをサポートします。
          </p>
        </div>
        <div class="row m-b-2">
          <div class="col-sm-12 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3 cy-m-b-xs-md text-xs-center">
            <a href="tel:0120-343-577" class="btn btn-primary btn-block btn-primary-outline btn-support" ga-label="index bottom contact-phone" id="top-btn-call" rel="nofollow noopener noreferrer">0120-343-577</a>
            <small class="text-xs-center text-muted">
              ［電話受付時間］平日10:00～18:00
            </small>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="/contact/#mail" class="btn btn-primary btn-block btn-primary-outline btn-support" ga-label="index bottom contact-mail" id="top-btn-mail">メールで</a>
          </div>
        </div>
        <div id="docs-download">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
              <p>
                <a href="/resources/docs/" class="btn btn-primary btn-block btn-lg btn-support mixpanel-track-link" ga-label="index bottom docs-download" id="" mixpanel-label="FooterDocs DocsDownloadButtonClicked">まずは資料ダウンロード</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="p-b-2">
      <div class="container">
        
        <div id="footer-primary-menu">
          <a href="/contact/">お問い合わせ</a>
          <a href="https://support.coiney.com/" target="_blank">サービスガイド<i class="fa fa-external-link"></i></a>
          <a href="/guide/">決済まるわかりガイド</a>
          <a href="/corp/jobs/" target="_blank">採用情報<i class="fa fa-external-link"></i></a>
          <a href="https://news.coiney.com/" target="_blank">ニュース<i class="fa fa-external-link"></i></a>
          <a href="/coineykit/">開発者向けSDK</a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="container p-y-2">
        <ul class="text-xs-left text-md-center" id="footer-secondary-menu">
          <li><a href="/cashless/">キャッシュレス・消費者還元事業</a></li>
          <li><a href="https://affiliate.coiney.com/" target="_blank">アフィリエイトプログラム<i class="fa fa-external-link"></i></a></li>
          <li><a href="/resources/docs/">資料ダウンロード</a></li>
          <li><a href="/resources/">ロゴ・加盟店ツール</a></li>
          <li><a href="/legal/privacy">プライバシーポリシー</a></li>
          <li><a href="/legal/terms">利用規約</a></li>
          <li><a href="/legal/trademark">商標について</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="text-xs-left text-md-center text-muted">
          © 2019 Coiney, Inc. All rights reserved.
        </div>
      </div>
    </footer>
  </div>
  <script src="https://d33wubrfki0l68.cloudfront.net/bundles/4a434a2f437cd11c434072200ee377a9e1292ec7.js"></script>
  <script src="//instant.page/1.2.2"></script>
  <script src="https://d33wubrfki0l68.cloudfront.net/bundles/12dec6c03ee93f7cc3cb88ccea7fd923b11a8139.js"></script>
  <script>
    mixpanel.track('PageView', {
      'PageName' : 'Top',
      'url' : 'https://coiney.com'
    })
    
    $(window).on('load' , function() {
    $("section").removeClass("preload");
    });
  </script>
  <!-- User Insight PCDF Code Start : coiney.com -->
  <script type="text/javascript">
  <!--
  var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = 50431;
  _uih['lg_id'] = '';
  _uih['fb_id'] = '';
  _uih['tw_id'] = '';
  _uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = '';
  _uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';
  /* DO NOT ALTER BELOW THIS LINE */
  /* WITH FIRST PARTY COOKIE */
  (function() {
  var bi = document.createElement('scri'+'pt');bi.type = 'text/javascript'; bi.async = true;
  bi.src = ('https:' == document.location.protocol ? 'https://bs' : 'http://c') + '.nakanohito.jp/b3/bi.js';
  var s = document.getElementsByTagName('scri'+'pt')[0];s.parentNode.insertBefore(bi, s);
  })();
  //-->
  </script>
  <!-- User Insight PCDF Code End : coiney.com -->
  <script>
    (function ($) {
      $(function () {
        new PassAround().append();
      });
    } (jQuery));
  </script>

<iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-90f3a29ef7448451db5af955688970d7.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><div style="display: none; visibility: hidden;"><script type="text/javascript">var yahoo_ss_retargeting_id=1000088615,yahoo_sstag_custom_params=window.yahoo_sstag_params,yahoo_ss_retargeting=!0;</script>
<script type="text/javascript" src="https://s.yimg.jp/images/listing/tool/cv/conversion.js"></script></div><div style="display: none; visibility: hidden;"><script type="text/javascript" language="javascript">var yahoo_retargeting_id="3VSKM9MJ6C",yahoo_retargeting_label="",yahoo_retargeting_page_type="",yahoo_retargeting_items=[{item_id:"",category_id:"",price:"",quantity:""}];</script>
<script type="text/javascript" language="javascript" src="https://b92.yahoo.co.jp/js/s_retargeting.js"></script>
</div><script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1462385727325941");fbq("track","PageView");</script>
<div style="display: none; visibility: hidden;"><script>(function(a,b,d){a._ltq=a._ltq||[];a._lt=a._lt||function(){a._ltq.push(arguments)};var e="https:"===location.protocol?"https://d.line-scdn.net":"http://d.line-cdn.net",c=b.createElement("script");c.async=1;c.src=d||e+"/n/line_tag/public/release/v1/lt.js";b=b.getElementsByTagName("script")[0];b.parentNode.insertBefore(c,b)})(window,document);_lt("init",{customerType:"lap",tagId:"687e5730-1ffd-4f0d-9318-ec54daeb86ed"});_lt("send","pv",["687e5730-1ffd-4f0d-9318-ec54daeb86ed"]);</script></div><script type="text/javascript" id="">(function(a,e,f,g,b,c,d){a.VoicePocketObject=b;a[b]=a[b]||function(){(a[b].w=a[b].w||[]).push(arguments)};c=e.createElement(f);c.async=1;c.src=g;d=e.getElementsByTagName(f)[0];d.parentNode.insertBefore(c,d);vpid="VP-4306181017-73"})(window,document,"script","//public.voicepocket.net/voicepocket.js","vp3pt");</script><script type="text/javascript" id="">!function(c,b,d,e,f){c.setTimeout(function(){var a=b.createElement("img");a.width=1;a.height=1;a.border=0;a.src=d+"?tag_id\x3d"+e;a.style.display="none";b.body.appendChild(a)},f)}(window,document,"//tr.gunosy.com/v1/beacon",2864,0);</script>	
<script type="text/javascript" id="">!function(){if(window.SmartnewsAds=window.SmartnewsAds||{},!window.SmartnewsAds.p){var a=window.SmartnewsAds.p=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)};window.SmartnewsAds._p||(window.SmartnewsAds._p=a);a.push=a;a.version="1.0.0";a.queue=[];var b=document.createElement("script");b.async=!0;b.src="//cdn.smartnews-ads.com/i/pixel.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}}();SmartnewsAds.p("3f086dbe4b44dbdc8d18eab8","PageView");</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://i.smartnews-ads.com/p?id=3f086dbe4b44dbdc8d18eab8&amp;e=PageView">
</noscript><img width="1" height="1" border="0" src="//tr.gunosy.com/v1/beacon?tag_id=2864" style="display: none;"><div><div class="vp_submit" style="display:none"></div><div class="vp_submit_finish" style="display:none"></div></div></body></html>


<article class="post-list cf animated fadeIn post-37008 post type-post status-publish format-standard has-post-thumbnail category-trend tag-monthly-topic purpose-clientwork-interest article cf" role="article">
<a href="https://goodpatch.com/blog/monthly-topic-201907/" rel="bookmark" title="新しいものが大好きなGoodpatchで7月に話題になったアプリ、サービス、デザインまとめ(2019)">


<figure class="eyecatch">



<div style="background-image: url(https://goodpatch.com/blog/wp-content/uploads/2019/07/image4-486x290.png);"></div>

<span class="cat-name cat-id-202">トレンド</span>
</figure>

<section class="entry-content cf">

<p class="byline entry-meta vcard">
<span class="date gf updated">2019.07.31</span>
<span class="writer name author"><span class="fn">関根椋太</span></span>
</p>
<h1 class="h2 entry-title">新しいものが大好きなGoodpatchで7月に話題になったアプリ、サービス、デザインまとめ(2019)</h1>


</section>
</a>
</article>


<footer>
</footer>

</body>  
</html>

