<% provide(:title, "ログイン") %>
<div class="login-page">
<div class="login-form">
  <h4>ログイン</h4>
  <%= form_for(:session, url: login_path) do |f| %>

  <p><%= f.email_field :email, class: 'form-control',placeholder:"メールアドレス" %></p>


  <p><%= f.password_field :password, class: 'form-control' ,placeholder:"パスワード"%></p>
  <%= f.label :remember_me, class: "checkbox inline" do %>
<p class="remember-section"><%= f.check_box :remember_me %>次回からメールアドレスとパスワードの入力を省略</p>
<% end %>
  <p><%= f.submit "ログイン", class: "btn-flat-border" %></p>
  <p class="remember-section"><%= link_to "パスワードを忘れた方", new_password_reset_path %></p>
  <% end %>
  <div class="new-user-btn-section">
  <p>はじめての方はこちら</p>
    <%= link_to "新規登録", signup_path,class:"btn-gradient-radius" %>

  </div>
</div>
</div>
