<% provide(:title, "記事編集") %>
<div class="blog-new-form">
  <%= form_for @blog do |f| %>
  <%= f.text_field :title,class:"title-form",placeholder:"タイトル" %><br>
  <%= f.text_field :category ,class:"category-form",placeholder:"カテゴリー"%>
  <%= f.file_field :picture,class:"picture-form" %>
  <%= f.text_area :content,class:"content-form" %>
  <%= f.submit "公開する", class: "btn btn-primary" %>
  <% end %>
</div>
