<% provide(:title, "トップページ") %>
<%= render partial:'layouts/hero' %>
<div class="contents container">
<div class="row">
  <div class="main col-lg-12">
    <div class="serviceTop-header">話題のブログ＆ニュース</div>
    <div class="articles row">

    <div class="news-box">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-fire"></i>話題の記事</a></li>
                        <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i>最新の記事</a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-yahoo"></i>Yahooニュース</a></li>
                        <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li role="presentation"><a href="#Section5" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-youtube"></i>Youtube</a></li>
                        <li role="presentation"><a href="#Section6" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-instagram"></i>Instagram</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">

                        <div role="tabpanel" class="tab-pane fade" id="Section1">
                        <%= render "top",blogs: @polular_blogs %>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                          <%= render "top",blogs: @recent_blogs %>
                          </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">

                          <% index=1  %>
                          <% @yahoo_news.each do |news| %>
                          <div class="yahoo-topic">
                          <div class="row">
                          <div class="yahoo-photo-box col-lg-3 col-sm-12">
                          <p class="yahoo-index yahoo-index<%=index%>"><%= index%></p>
                          <img src=<%= news.picture %> class="yahoo-picture" alt="">
                          <div class="yahoo-clear"></div>
                          </div>
                          <div class="yahoo-title-box col-lg-9 col-sm-12">
                          <h4 class="yahoo-title"><%= news.title %></h4>
                          <p class="yahoo-media"><i class="fas fa-globe"> </i><%= "#{news.media}"%> </p>
                          <p class="yahoo-time"><i class="far fa-clock"> </i><%= "#{news.time}"%></p>
                          <div class="yahoo-clear"></div>
                          </div>
                          <a class="yahoo-link" href=<%= news.url %>></a>
                          </div>
                          </div>
                          <% index += 1 %>
                          <% end %>


                       </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section4">
                            <h3>twitterの人気ツイートをリスト化</h3>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section5">
                            <h3>youtubeの人気動画をリスト化</h3>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section6">
                            <h3>インスタの人気投稿をリスト化</h3>
                        </div>

                    </div>
                </div>
   </div>

    </div>
  </div>
</div>
</div>
