<div class="row">
  <div class="main col-lg-12">
    <div class="serviceTop-header">新着記事</div>
    <div class="articles row">


      <% @blogs.each do |blog|%>
      <div class="kiji col-xs-12 col-lg-4">
        <div class="shadow">
          <div class="kiji-photo" style="background-image: url(<%= blog.picture.url %>); background-size: cover;"></div>
          <p class="kiji-category">
            <%= blog.category %>
          </p>
          <p class="kiji-title">
            <%= blog.title %>
          </p>
          <%= link_to("","/blogs/#{blog.id}",class:"kiji-link") %>
        </div>
      </div>
      <% end %>
      <div class="pagenate col-xs-12">
        <%= will_paginate @blogs, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
    </div>
  </div>





</div>
