<% provide(:title, "トップページ") %>
<%= render partial:'layouts/hero' %>
<div class="contents container">
<div class="row">
  <div class="main col-lg-12">
    <div class="serviceTop-header">話題のブログ＆ニュース</div>
    <div class="articles row">

    <div class="news-box">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><i class="fas fa-fire"></i>話題の記事</a></li>
                        <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i>最新の記事</a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-yahoo"></i>Yahooニュース</a></li>
                        <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li role="presentation"><a href="#Section5" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-youtube"></i>Youtube</a></li>
                        <li role="presentation"><a href="#Section6" aria-controls="messages" role="tab" data-toggle="tab"><i class="fab fa-instagram"></i>Instagram</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">

                        <div role="tabpanel" class="tab-pane fade" id="Section1">
                        <%= render "top",blogs: @polular_blogs %>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                          <%= render "top",blogs: @recent_blogs %>
                          </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                        <div>
                          <ul>
                          <% @yahoo_news.each do |news| %>
                          <li><%= news.title %></li>
                          <img src=<%= news.picture %> alt="">
                          <li><%= news.time %></li>
                          <li><%= news.media %></li>
                          <% end %>
                          </ul>
                          </div>
                       </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section4">
                            <h3>twitterの人気ツイートをリスト化</h3>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section5">
                            <h3>youtubeの人気動画をリスト化</h3>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="Section6">
                            <h3>インスタの人気投稿をリスト化</h3>
                        </div>

                    </div>
                </div>
   </div>

    </div>
  </div>
</div>
</div>
