<% provide(:title, "記事詳細") %>
<div class="bloghead">
  <h1><%= @blog.user.blogtitle %></h1>
  <%= link_to("", "#{user_path(@blog.user)}",class:"bloghead-link") %>
</div>
<div class="contents container">
<div class="row">
  <div class="blog-show col-lg-8">
    <div class="breadcrumb"></div>
    <div class="content">
      <article>
        <h1><%= @blog.title %></h1>
        <p><i class="fas fa-edit"></i><%=@blog.created_at.strftime("%Y年%m月%d日") %></p>
         <div class="thumbnail" style="background-image: url(<%= @blog.picture.url %>); background-size:cover;"></div>
         <div><%= simple_format(h(@blog.content)) %></div>
      </article>
    </div>
    <div>
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <% if logged_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog, user:@blog.user } %>
    <% end %>
  </div>　
  </div>
  <div class="ssidebar col-lg-4">
  <%= render 'shared/right_menu' %> <!-- ライトメニューです -->
  </div>
</div>
</div>
