<% provide(:title, "ユーザー情報編集") %>
<div class="contents container">
<div class="main col-lg-8">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :blogtitle %>
      <%= f.text_field :blogtitle %>
      <%= f.label :profile_text %>
      <%= f.text_field :profile_text %>
      <%= f.label :profile_image %>
      <%= f.file_field :picture,class:"picture-form" %>
      <%= f.submit "更新する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>
