    <div class="profile side">
    <p class="profile-image" style="background-image: url(<%= @user.profile_image.url ? @user.profile_image.url : "../assets/profile.jpg" %>); background-size: cover;"></p>
    <p><%= @user.name %></p>
    <p><%= @user.profile_text %></p>
    <p><%= link_to "プロフィールを編集する",(edit_user_path @user) if current_user == @user %></p>
    </div>
    <div class="side search">
      <%= form_tag("/search",:method => 'get') do %>
    　<%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </div>
    <div class="side categories">
      <h4>カテゴリー</h4>
      <ul>
        <% @user.blogs.pluck("category").uniq.each do |category|%>
          <li>
            <p class="hidari">
              <%= link_to category,"/users/#{@user.id}/category/#{category}",style:"color:#333333;" %>
            </p>
            <p class="fas fa-chevron-right"></p>
          </li>
          <% end %>
      </ul>
    </div>
    <div class="side ranking">
      <h4>人気記事</h4>
      <ul>
        <% @polular_blogs[0..7].each do |blog|%>
          <li>
            <div class="hidari"><%= blog.title %></div>
            <p class="fas fa-chevron-right"></p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="side ranking">
      <h4>新着記事</h4>
      <ul>
        <% @recent_blogs[0..7].each do |blog|%>
          <li>
            <div class="hidari"><%= blog.title %></div>
            <p class="fas fa-chevron-right"></p>
          </li>
        <% end %>
      </ul>
    </div>
