
    <div class="side koukoku1"></div>
    <div class="side search">
      <%= form_tag("/search",:method => 'get') do %>
    　<%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </div>
    <div class="side categories">
      <h3>カテゴリー</h3>
      <ul>
        <% Blog.pluck("category").uniq.each do |category|%>
          <li>
            <p class="hidari">
              <%= category %>
            </p>
            <p class="fas fa-chevron-right"></p>
          </li>
          <% end %>
      </ul>
    </div>
    <div class="side ranking">
      <h3>人気記事</h3>
      <ul>
        <% @most_viewed.each do |blog|%>
          <li>
            <%= blog.content %> <span class="fas fa-chevron-right"></span> </li>
          <% end %>
      </ul>
    </div>
    <div class="side recent">最近の投稿</div>
    <div class="side otoiawase">お問い合わせ</div>
