    <div class="profile side">
      <h4 class="side-section-title">PLOFILE</h4>
    <img class="profile-image" src="<%= @user.profile_image.url ? @user.profile_image.url : "../assets/profile.jpg" %>" alt="">
    <div class="profile-text"><p><%= @user.name %></p>
      <div class="aiueo<%=@user.name %>"></div>
      <div class="<%="aiueo#{@user.name}"%>"></div>
    <p><%= @user.profile_text %></p>
    <p><%= link_to "プロフィールを編集する",(edit_user_path @user) if current_user == @user %></p>
    <%= render 'users/follow_form' if current_user %>
    </div>
  </div>
    <div class="side search">
      <h4 class="side-section-title">SEARCH</h4>
      <div class="side-content-section">
      <%= form_tag("/search",:method => 'get') do %>
    　<%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil,class:"side-search-btn"%>
      <% end %>
      </div>
    </div>
    <div class="side categories">
      <h4 class="side-section-title">CATEGORY</h4>
      <div class="side-content-section">
      <ul>
        <% @user.blogs.pluck("category").uniq.each do |category|%>
          <li>
            <p class="hidari">
            <i class="categories folder fas fa-folder"></i>  <%= link_to category,"/users/#{@user.id}/category/#{category}",style:"color:#333333;" %>
            </p>
            <p class="fas fa-chevron-right"></p>
          </li>
          <% end %>
      </ul>
      </div>
    </div>
    <div class="side ranking">
      <h4 class="side-section-title">POPULAR</h4>
      <div class="side-content-section">
      <ul>
        <% index = 1 %>
        <% @polular_blogs[0..4].each do |blog|%>
          <li class="side-blog-box">
            <p><img src="<%= blog.picture.url %>"></p>
            <p class="side-blog-title"><%= blog.title %></p>
            <a href="<%= user_blog_path(@user,blog)%>"></a>
            <p class="side-index-box"><%= index %></p>
          </li>
          <% index += 1 %>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="side ranking">
      <h4 class="side-section-title">LATEST</h4>
      <div class="side-content-section">
        <ul>
          <% index = 1 %>
          <%  @recent_blogs[0..4].each do |blog|%>
            <li class="side-blog-box">
              <p><img src="<%= blog.picture.url %>"></p>
              <p class="side-blog-title"><%= blog.title %></p>
              <a href="<%= user_blog_path(@user,blog)%>"></a>
              <p class="side-index-box"><%= index %></p>
            </li>
            <% index += 1 %>
          <% end %>
        </ul>
      </div>
    </div>
